In [41]:
from bs4 import BeautifulSoup
import requests
import lxml
import pandas as pd

In [42]:
def export_table_and_print(tables):
    table = pd.DataFrame(data, columns=[
        'products','prices','ratings','stocks','links' ])
    table.index = table.index + 1

In [43]:
def get_livres(livre):
    product = livre.find('h3').find('a').attrs['title']
    price = livre.find('p', class_='price_color').text
    rating = livre.find('p', class_='star-rating')
    stock = livre.find('p', class_='instock availability').text
    link = livre.find('h3').find('a').attrs['href']
    l = rating['class']
    stars = " ".join(l)
    stars = stars.replace("star-rating ", "")
    if stars == "One":
        star = 1
    elif stars =="Two":
        star = 2
    elif stars =="Three":
        star = 3
    elif stars =="Four":
        star = 4
    elif stars =="Five":
        star = 5
    tables['products'].append(product)
    tables['prices'].append(price)
    tables['ratings'].append(star)
    tables['stocks'].append(stock)
    tables['links'].append(link)
    return tables

In [48]:
tables = {
            'products' : [], 'prices' : [], 'ratings' : [], 'stocks' : [], 'links' : []
        }

# Checking if we successfully fetched the URL
for i in range(1, 51):
    url = f"https://books.toscrape.com/catalogue/page-{i}.html"
    page = requests.get(url)
    if page.status_code == requests.codes.ok:
        bs = BeautifulSoup(page.text, 'lxml')
        # Fetching all items
        list_all_livres = bs.findAll('article', class_='product_pod')        
        
        for livre in list_all_livres:
            get_livres(livre)

   
Cd = pd.DataFrame(tables).reset_index()
Cd

,index,products,prices,ratings,stocks,links
0,0,A Light in the Attic,Â£51.77,3,\n\n \n In stock\n \n,a-light-in-the-attic_1000/index.html
1,1,Tipping the Velvet,Â£53.74,1,\n\n \n In stock\n \n,tipping-the-velvet_999/index.html
2,2,Soumission,Â£50.10,1,\n\n \n In stock\n \n,soumission_998/index.html
3,3,Sharp Objects,Â£47.82,4,\n\n \n In stock\n \n,sharp-objects_997/index.html
4,4,Sapiens: A Brief History of Humankind,Â£54.23,5,\n\n \n In stock\n \n,sapiens-a-brief-history-of-humankind_996/index...
...,...,...,...,...,...,...
995,995,Alice in Wonderland (Alice's Adventures in Won...,Â£55.53,1,\n\n \n In stock\n \n,alice-in-wonderland-alices-adventures-in-wonde...
996,996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",Â£57.06,4,\n\n \n In stock\n \n,ajin-demi-human-volume-1-ajin-demi-human-1_4/i...
997,997,A Spy's Devotion (The Regency Spies of London #1),Â£16.97,5,\n\n \n In stock\n \n,a-spys-devotion-the-regency-spies-of-london-1_...
998,998,1st to Die (Women's Murder Club #1),Â£53.98,1,\n\n \n In stock\n \n,1st-to-die-womens-murder-club-1_2/index.html
999,999,"1,000 Places to See Before You Die",Â£26.08,5,\n\n \n In stock\n \n,1000-places-to-see-before-you-die_1/index.html

In [49]:
Cd.to_csv('book.csv', index=False)