In [1]:
import pyodbc
import pandas as pd

In [2]:
cd = pd.read_csv('livres.csv')
livre = cd[['products','prices','ratings','stocks','links']]

In [3]:
# Trusted Connection to Named Instance
connection = pyodbc.connect('DRIVER={SQL Server};SERVER=UTILISA-TRBVTGI\SQLEXPRESS;DATABASE=Livres;Trusted_Connection=yes;')

In [4]:
cursor=connection.cursor()
sql = "Insert into livre(products,prices,ratings,stocks,links) Values(?,?,?,?,?)"
for i,row in livre.iterrows():
    cursor.execute(sql, tuple(row))
    connection.commit()
cursor.execute("SELECT * FROM livre")